<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite>
<suite name="CrossBrowserSuite" parallel="tests" thread-count="2">

  <listeners>
    <listener class-name="com.ssk.qa.utils.TestListener"/>
  </listeners>

  <test name="ChromeTest">
    <parameter name="browser" value="chrome" />
    <classes>
      <class name="com.ssk.qa.tests.EndToEndTest"/>
    </classes>
  </test>

  <test name="EdgeTest">
    <parameter name="browser" value="edge" />
    <classes>
      <class name="com.ssk.qa.tests.EndToEndTest"/>
    </classes>
  </test>

</suite>
